#addButton {
  width: 70%;
  margin-bottom: 3%;
  z-index: -1;
}

.btn-primary {
  margin-bottom: 2%;
  z-index: -1;
}
label {
  float: left;
}

.form-group {
  width: 90%;
  margin: auto;
  margin-bottom: 3%;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  ‏ input {
    font-size: xx-small;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .form-group {
    width: 85%;
    margin: auto;
    margin-bottom: 3%;
  }

  .btn-primary {
    width: 80%;
  }
}
